@model bytegr.candidates.manager.data.Dtos.CandidateDto
@using Microsoft.AspNetCore.Http.Extensions


<h1 style="font-weight:bolder;font-size:68px">Candidate</h1>
<p style="margin-top:0px; margin-left:10px;margin-bottom:20px;font-size:x-small">@Context.Request.GetDisplayUrl()</p>
