@using Microsoft.AspNetCore.Http.Extensions
@Html.Partial("_SharedViewTitle")

<a asp-action="Index" asp-controller="Candidate" class="btn btn-success btn-sm">View Candidates</a>
<a asp-action="Index" asp-controller="Degree" class="btn btn-success btn-sm">View Degrees</a>




